{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="shortcut icon"
  type="image/png"
  href="{% static 'images/wheel.svg' %}"
>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <title>Django Spinner</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        {% comment %} {% if user.is_authenticated %} {% endcomment %}
        <li><a href="{% url 'collections_index'%}">All Collection</a></li>
        <li><a href="{% url 'collections_create' %}">Create Collection</a></li>
        {% comment %} <li><a href="{% url 'spinner_index' %}">Spinner</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li> {% endcomment %}
        {% comment %} {% else %}
          <li><a href="{% url 'home' %}">Login</a></li> {% endcomment %}
          {% comment %} <li><a href="{% url 'signup' %}">Sign Up</a></li> {% endcomment %}
        {% comment %} {% endif %} {% endcomment %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>