{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/collections/collection-detail.css' %}"
/>
<script src='../../static/js/Winwheel.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
{% endblock %}

{% block content %}

<section class="detail-header">
  <h1>{{collection.name}}</h1>
  <h2>{{collection.description}}</h2>
</section>

<div class="collection-container">
  <section class="content-add-container">
    <div class="add-content">
      <form
      action="{% url 'add_content' collection.id %}"
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ content_form.as_p }}
      <button type="submit" class="btn submit">Add Content</button>
    </form>
    </div>
    <div class="content-container">
      {% for content in collection.content_set.all %}
      <div class="card">
        <div class="card-content">
          <h2 class="card-title">{{ content.name }}</h2>
          <p><small>{{ content.description }}</small></p>
          <div class="content-actions">
            <a href="{% url 'delete_content' collection.id content.id %}" class="btn danger">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  
  </section>

  <section class="spinner-container">
    <div class="canvas-container">
      <canvas id='canvas' width='900' height='400'>
        Canvas not supported, use another browser.
      </canvas>
      <img id="prize-pointer" src="{% static 'images/down-arrow.svg' %}" alt="V">
    </div>
    
    <script type="text/javascript">
        let theWheel = new Winwheel({
            'canvasId'    : 'canvas',
            'numSegments' : 0,
            'pointerAngle' :0,
            'fillStyle'   : '#e7706f',
            'lineWidth'   : 3,
            'animation'   :
            {
              'type'     : 'spinToStop',  // Type of animation.
              'duration' : 5,             // How long the animation is to take in seconds.
              'spins'    : 8,              // The number of complete 360 degree rotations the wheel is to do.
              'callbackFinished' : 'alertWinner()',
            }
        });

        const contentArray = {{content|safe}}
        console.log(contentArray)
        for (let i = 0; i < contentArray.length; i++ ){
          var randomColor = Math.floor(Math.random()*16777215).toString(16);
          const color = hexToRgb(randomColor)
          theWheel.addSegment({
            'text': contentArray[i].fields.name,
            'fillStyle': `rgba(${color.r},${color.g},${color.b},0.5)`,
          })
          theWheel.draw();
        }

        function alertWinner(){
          let winningSegmentNumber = theWheel.getIndicatedSegmentNumber();

          theWheel.segments[winningSegmentNumber].textStrokeStyle = 'yellow';
          theWheel.draw()
          theWheel.rotationAngle = theWheel.rotationAngle % 360
        }

        function resetSpinAndPlay(){
          for (let x = 1; x < theWheel.segments.length; x ++) {
            theWheel.segments[x].textStrokeStyle = 'black';
          }
          theWheel.startAnimation()
        }

        function hexToRgb(hex) {
          var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
          return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
          } : null;
        }

    </script>
    <div class="action-container">
      <button onClick="resetSpinAndPlay()">Play</button>
    </div>
  </section>
</div>


{% endblock %}