{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/collections/collection-detail.css' %}"
/>
<script src='../../static/js/Winwheel.js'></script>
{% endblock %}

{% block content %}

<section class="detail-header">
  <h1>{{collection.name}}</h1>
  <h2>{{collection.description}}</h2>
</section>

<div class="collection-container">
  <section class="content-add-container">
    <div class="add-content">
      <form
      action="{% url 'add_content' collection.id %}"
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ content_form.as_p }}
      <button type="submit" class="btn submit">Add Content</button>
    </form>
    </div>
    <div class="content-container">
      {% for content in collection.content_set.all %}
      <div class="card">
        <div class="card-content">
          <h2 class="card-title">{{ content.name }}</h2>
          <p><small>{{ content.description }}</small></p>
          <div class="content-actions">
            <a href="{% url 'delete_content' collection.id content.id %}" class="btn danger">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  
  </section>

  <section class="spinner-container">
    <canvas id='myCanvas' width='880' height='300'>
      Canvas not supported, use another browser.
    </canvas>
    <script type="text/javascript">
        let theWheel = new Winwheel({
            'canvasId'    : 'myCanvas',
            'numSegments' : {{collection.content_set.all.count}},
            'fillStyle'   : '#e7706f',
            'lineWidth'   : 3
        });
    </script>
  </section>
</div>


{% endblock %}