{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/collections/collection-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Collections</h1>
</section>

<section class="card-container">
  {% for collection in collections %}
    <div class="card">
      <a href="/collections/{{ collection.id }}">
        <div class="card-content">
          <h2 class="card-title">{{ collection.name }}</h2>
          <p><small>{{ collection.description }}</small></p>
        </div>
      </a>
      <a href="{% url 'collections_delete' collection.id %}" class="btn danger collection-delete">X</a>
    </div>
  {% endfor %}
</section>

{% endblock %}