.page-header {
  border-radius: 20px;
  border: 2px rgb(242, 243, 217, 0.18) solid;
  background: rgb(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur( 8px );
  backdrop-filter: blur( 9px );
  padding: 2em;
  margin: 2em 0;
  box-shadow: var(--card-box-shadow);
}

.form-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px rgb(242, 243, 217, 0.18) solid;
  background: rgb(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur( 8px );
  backdrop-filter: blur( 9px );
  box-shadow: var(--card-box-shadow);
  padding: 2em;
  margin: 2em 0;
  width: 100%;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 20px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 60%;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

.btn {
  align-self: flex-end;
  margin-right: 40px;
}

label {
  font-size: 24px;
}