.page-header {
  border-radius: 20px;
  border: 2px rgb(242, 243, 217, 0.18) solid;
  background: rgb(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur( 8px );
  backdrop-filter: blur( 9px );
  padding: 2em;
  margin: 2em 0;
}

.card-container {
  border-radius: 20px;
  border: 2px rgb(242, 243, 217, 0.18) solid;
  background: rgb(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur( 8px );
  backdrop-filter: blur( 9px );
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 275px;
  margin: 10px;

  border-radius: 10px;
  border: 2px rgb(98, 124, 133, 0.18) solid;
  background: rgb(138, 163, 153, 0.45);

  box-shadow: var(--card-box-shadow);
}

.card-content {
  padding: 10px;
  width: 100%;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.collection-delete {
  background-color: red;
  position: absolute;
  top:0;
  right:-10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  font-size: 10px;
}