.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
}

.card-content {
  padding: 10px;
  width: 100%;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.collection-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
  height: 60vh;
  padding: 2em;
  min-width: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.add-content {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  padding: 2em;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  padding: 2em;
}